target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/pw-ui/.idea
/pw-ui/node_modules
/pwProject/pwProject/.mvn/wrapper/maven-wrapper.jar
/pwProject/pwProject/.mvn/wrapper/maven-wrapper.properties
/pwProject/pwProject/mvnw.cmd
