.mainArea {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
}

.sideMenu {
    width: 200px;
    flex-shrink: 0;
}

.contentArea {
    flex-grow: 1;
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}
