.welcomeBannerDivStyle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.welcomeBannerPStyle {
    font-family: "Arial", serif;
    font-size: 40px;
}